__pycache__/

.coverage*
coverage.xml
htmlcov/

*.py[cod]

# Swap
[._]*.s[a-v][a-z]
[._]*.sw[a-p]
[._]s[a-rt-v][a-z]
[._]ss[a-gi-z]
[._]sw[a-p]

.env_python*

*egg-info*

.eggs/
dist/
RPMS/
BUILD/
BUILDROOT/
SRPMS/
SOURCES/
cache/

.env

build
